img{
    width: auto;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
    
}

.player-info {
    border: 1px solid black;  
    padding: 15px;
    padding-bottom: 20px;
    height: 200px;
    overflow: scroll;
    border-radius: 10px;
    
}
#header~ div{
    margin-top: 80px;
}
a:link{
    color: blue;#
}
a:visited {
    color: green;
}
a:hover{
    color: black;
}

h2, h3{
    font-family: Arial,sans-serif;
    
}

p{
  font-family: 'Roboto slab'serif;
    
}